.App {
  text-align: center;
}
.login{
  max-width: 70%;
  padding: 20px 10px;
  margin: 0 auto;
}
.login_span {
  color: #0074b1;
  cursor: pointer;
}
.login_p{
  margin-top:20px;
}






@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
